POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=department_api
POSTGRES_TEST_DB=department_api_test

DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/department_api
TEST_DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/department_api_test
